# If Statement

In [1]:
a = 32

In [10]:
if a % 2 == 0:
    print("The given number{} is even.".format(a))

The given number32 is even.

In [11]:
b = 22

In [12]:
if b % 2 == 0:
    print("The given number {} is even.".format(b))

The given number 22 is even.

# Else statement

In [15]:
a = 33

In [16]:
if a % 2 == 0:
    print('The given number {} is even.'.format(a))
else:
    print('The given number {} is odd.'.format(a))

The given number 33 is odd.

In [17]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [18]:
a_candidate = "D'Artagnan"

In [19]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagnan is not a musketeer

# elif statement

In [20]:
a = 15

In [21]:
if a % 2 == 0:
    print("{} is divisible by 2".format(a))
elif a % 3 == 0:
    print("{} is divisible by 3".format(a))
elif a % 5 == 0:
    print("{} is divisible by 5".format(a))
elif a % 6 == 0:
    print("{} is divisible by 6".format(a))

15 is divisible by 3

# Using if, elif, else together

In [22]:
a = 7

In [24]:
if a % 2 == 0:
    print("{} is divisible by 2".format(a))
elif a % 3 == 0:
    print("{} is divisible by 3".format(a))
elif a % 5 == 0:
    print("{} is divisible by 5".format(a))
else:
    print("{} is not divisible by 2, 3 or 5".format(a))

7 is not divisible by 2, 3 or 5

# Non-Boolean Condition

In [25]:
if '':
    print("The condition evaluated to True")
else:
    print("The condition evaluated to False")

The condition evaluated to False

In [26]:
if 'Hello':
    print("The condition evaluated to True")
else:
    print("The condition evaluated to False")

The condition evaluated to True

In [27]:
if None:
    print("The condition evaluated to True")
else:
    print("The condition evaluated to False")

The condition evaluated to False

# Nested conditional statements

In [28]:
a = 15

In [29]:
if a % 2 == 0:
    print("{} is even".format(a))
    if a % 3 == 0:
        print("{} is also divisible by 3".format(a))
    else:
        print("{} is not divisible by 3".format(a))
else:
    print("{} is odd".format(a))
    if a % 5 == 0:
        print("{} is also divisible by 5".format(a))
    else:
        print("{} is not divisible by 5".format(a))

15 is odd
15 is also divisible by 5

# Pass Statement

In [30]:
a = 9

In [31]:
if a % 2 == 0:
    pass
elif a % 3 == 0:
    print("{} is divisible  by 3 but not by 2".format(a))

9 is divisible  by 3 but not by 2

# While loop

In [33]:
result = 1
i = 1

while i <= 100:
    result =result * i
    i += 1

print("The factorial of 100 is: {}".format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [34]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"

*
**
***
****
*****
******
*******
********
*********
**********

In [38]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
#Infinite loop
result = 1
i = 1

while i <= 100:
    result = result * i
    # forgot to increment i

# break and continue statement

In [3]:
i =1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [4]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

# Iteration with for loops

In [2]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [5]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [6]:
for fruit in ['Apple', 'Banana', 'Guava']:
    print("Here's a fruit:", fruit)

Here's a fruit: Apple
Here's a fruit: Banana
Here's a fruit: Guava

In [7]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [8]:
for value in person.values():
    print(value)

John Doe
Male
32
True

# Iterating using range and enumerate

In [10]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [11]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [13]:
for i in range(2, 20, 4):
    print(i)

2
6
10
14
18

In [14]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [15]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

# break, continue and pass statements

In [16]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [17]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

In [18]:
for day in weekdays:
    pass

# Nested for and while loops

In [19]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [20]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava